/* scroll bar entire widht */
::-webkit-scrollbar {
  width: 10px;
}
/* scroll bar track buyu zam */
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
/* scroll bar tumb buyu chigluulegch */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #009578;
}
/* change color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6dcdb1;
}
