/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,100&display=swap');

/* Basics */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

/* Typography */
h1,
h2,
h3 {
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Countdown styles */
body{
  background-image: url(/images/pexels-cottonbro-3171770.jpg); 
  background-size: cover;
  padding: 10rem 0 ;
}

.container{
  max-width: 768px;
  min-height: 300px;
  margin: 0 auto;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
}
.list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.numbers {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: -2rem;
}
.texts {
  font-size: 2rem;
}
.heading {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0;
}

@media screen and (min-width: 768px) {
  .numbers,
  .heading{
    font-size: 10rem;
  }
  .numbers{
    margin-bottom: -3rem;
  }
  .heading{
    margin: 10rem 0 12rem;
  }
  
}
/* Audio player */
.audio__container{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
}
.audio-player {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30px;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);  
}
.audio-player--display {
  height: 20px;
  display: none;
}
::-webkit-media-controls-enclosure {
  border-radius: 0;
  background-color: rgba(211, 211,211, 0.8);
}
.audio__container:hover .audio-player{
  display: block;
}
@media screen and (min-width:768px) {
  .audio-player{
    height: 50px;
  }
  
}